## Data Exploration and EDA

In [76]:
import pandas as pd
import numpy as np
from plotnine import *
import re

In [44]:
df = pd.read_csv('train.csv', encoding='utf-8')

##### looking at the dataset as a whole

In [53]:
df.sample(10)

,id,keyword,location,text,target
566,818,battle,Wisconsin,@SexyDragonMagic I've come to the realization ...,0
3750,5328,fire,Brooklyn,But put 'Flood of Fire' at the top of the list...,1
7154,10251,war%20zone,Incognito,Zone of the Enders MGS2 God of War. RT @D_Page...,0
7593,10848,NaN,NaN,I just heard a really loud bang and everyone i...,0
4032,5726,forest%20fire,"Asheville, NC",Fire in Pisgah National Forest grows to 375 ac...,1
2208,3163,deluge,NaN,A deluge of eulogies for #CecilTheLion on my ...,0
1187,1709,bridge%20collapse,NaN,Ashes 2015: Australia collapse at Trent Bridge...,1
3751,5330,fire,Canada,I'm On Fire. http://t.co/WATsmxYTVa,0
6783,9717,tragedy,'Merica,'Sometimes God uses sorrowful tragedy to set t...,0
885,1280,bloody,NaN,infected bloody ear piercings are always fun??,0

In [4]:
df.shape

(7613, 5)

In [5]:
df.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

##### keyword column

In [6]:
df['keyword'].value_counts()

fatalities               45
deluge                   42
armageddon               42
body%20bags              41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [9]:
df['keyword'] = df[['keyword']].apply(lambda word : word.values[0].replace('%20', ' ') if not pd.isnull(word.values[0]) else word, axis = 1)

In [35]:
key = pd.DataFrame(df["keyword"].value_counts())
key = key.reset_index()
key

                   index  keyword
0             fatalities       45
1                 deluge       42
2             armageddon       42
3                 damage       41
4                sinking       41
..                   ...      ...
216          forest fire       19
217            epicentre       12
218               threat       11
219           inundation       10
220  radiation emergency        9

[221 rows x 2 columns]

In [39]:
key['index'] = key['index'].astype('string')

In [42]:
# (ggplot(key,aes(x='index')) +
#  geom_histogram(bins=100) +
#  theme_classic()
# )

##### text column

In [62]:
hashtags = []

In [63]:
df.apply(lambda row: hashtags.append(True) if '#' in row['text'] else hashtags.append(False), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
7608    None
7609    None
7610    None
7611    None
7612    None
Length: 7613, dtype: object

In [64]:
len(hashtags)

7613

In [69]:
df['hashtags'] = hashtags

In [71]:
atsymbol = []

In [72]:
df.apply(lambda row: atsymbol.append(True) if '@' in row['text'] else atsymbol.append(False), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
7608    None
7609    None
7610    None
7611    None
7612    None
Length: 7613, dtype: object

In [73]:
len(atsymbol)

7613

In [74]:
df['atsymbol'] = atsymbol

In [75]:
url = []

In [77]:
df.apply(lambda row: url.append(True) if re.match(".*https?:\/\/.*", row['text']) else url.append(False), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
7608    None
7609    None
7610    None
7611    None
7612    None
Length: 7613, dtype: object

In [78]:
len(url)

7613

In [79]:
df['URL'] = url

In [81]:
df.sample(20)

,id,keyword,location,text,target,hashtags,atsymbol,URL
386,559,arson,NaN,Mourning notices for stabbing arson victims st...,1,False,False,True
853,1235,blood,NaN,4.5 out of 5 stars by 290 reviewers for 'Drago...,0,True,False,True
6668,9556,threat,"Kwajalein/Virginia/Dayton, OH",@dmassa5 Definite triple crown threat. Him and...,1,False,True,False
4236,6019,hazardous,"Memphis, TN",MEG issues Hazardous Weather Outlook (HWO) htt...,1,False,False,True
5951,8502,screaming,NaN,*CUE THE JARIANA STANS SCREAMING,0,False,False,False
4940,7039,mayhem,Jersey Shore,BREAKING: Authorities respond to Ocean fire ht...,1,False,False,True
1266,1824,burned,NaN,What progress we are making. In the Middle Ag...,0,False,False,False
6623,9486,terrorism,NaN,Truth...\nhttps://t.co/k44tL3rfMy\n#News\n#BBC...,0,True,False,False
6581,9420,survivors,"Lake Monticello, VA",As Anniversary Nears Atomic Bomb Survivors Spe...,1,False,False,True
2399,3451,derail,"Washington, DC",Here's what may have caused a Metro train to d...,1,False,False,True
1222,1761,buildings%20burning,"New Orleans ,Louisiana",Burning buildings? Media outrage? http://t.co/...,1,False,False,True
5150,7344,nuclear%20reactor,"Somecity, Somerset, MD",A 17 year Boy Scout created a mini nuclear rea...,0,False,False,False
4176,5932,harm,NaN,@RJG0789 idk....I feel like his movies have do...,0,False,True,False
2344,3372,demolition,??????,http://t.co/D3cTNI8Qit #Demolition company: de...,0,True,False,True
1722,2485,collided,bk.,She looked back &amp; her daughter &amp; said ...,0,False,False,False
5503,7852,quarantined,San Francisco,Officials: Alabama home quarantined over possi...,1,False,False,True
81,118,accident,Your Sister's Bedroom,I was in a horrible car accident this past Sun...,1,False,False,False
4092,5817,hail,Between Dire and Radiant,Hail! [pic] ÛÓ https://t.co/B7omJ7U3EI,0,False,False,True
6525,9333,survive,NaN,@adriennetomah how did people survive like that?!,0,False,True,False
4259,6051,heat%20wave,"Arnhem, the Netherlands",Arnhem Weather - &lt;p&gt;An unrelenting and d...,1,False,False,True